* {
  margin: 0;
  padding: 0;
}

.main_container {
  width: 100%;
  height: 100vh;
}

.insure_main_box > img {
  height: 18px;
  color: #2c2830;
}

.insure_main_box > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 80px;
}

ul > li {
  color: #837d88;
  font-size: 13px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  line-height: 15.2px;
}

ul > li:hover {
  color: black;
  cursor: pointer;
}

ul > button {
  width: 146px;
  height: 40px;
  border: 1.5px solid #2c2830;
  color: #2c2830;
  background-color: transparent;
  cursor: pointer;
}

ul > button:hover {
  background-color: #2c2830;
  color: white;
}

.insure_main_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 165px;
  padding-right: 165px;
}

.humanizing_box {
  display: flex;
  align-items: center;
  background-color: #2d2641;
  padding-left: 165px;
  padding-right: 165px;
  height: 600px;
}

.line {
  width: 150px;
}

.left_side_box {
  width: 540px;
}

.left_side_box > h1 {
  font-size: 72px;
  color: #ffffff;
  margin-top: 20px;
}

.left_side_box > p {
  width: 540px;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.left_side_box > button {
  width: 146px;
  height: 40px;
  border: 1.5px solid #fff;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-top: 30px;
}

.left_side_box > button:hover {
  background-color: #fff;
  color: #2d2641;
}

.logo {
  position: absolute;
  left: 50%;
  top: 25%;
}

.different_box{
    color: #2C2830;
    font-weight: 400px;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    margin-left: 165px;
    margin-top: 59px;
}

.hr2_box{
    margin-top: 239px;
}

.different_line{
    width: 150px;
    background-color: #C396C6;
    height: 1px;
    margin-left: 165px;
}

.first_emoji{
    width: 86px;
    height: 86px;
    margin-top: 90px;
    margin-left: 165px;
}

.emoji_mmain_box{
    display: flex;
    width: 1110px ;
}

.emoji_energi_box > h1{
    font-size: 28px;
    font-weight: bold;
    line-height: 38.39px;
    letter-spacing: -0.39px;
    margin-left: 165px;
    margin-top: 20px;
    color: #2C2830;
}

.emoji_energi_box > p{
    color: #837D88;
    font-weight: 400;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-left: 165px;
    margin-top: 20px;
    width: 350px;
}

.dollar_emoji_box > img{
    width: 86px;
    height: 86px;
    margin-top: 90px;
    margin-left: 15px;
}

.dollar_emoji_box > h1{
    font-size: 28px;
    font-weight: bold;
    line-height: 38.39px;
    letter-spacing: -0.39px;
    color: #2C2830;
    margin-left:15px ;
    margin-top: 20px;
}

.dollar_emoji_box > p{
    color: #837D88;
    font-weight: 400;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 15px;
    width: 350px;
}

.people_emoji_box > img{
    width: 86px;
    height: 86px;
    margin-top: 90px;
    margin-left: 15px;
}

.people_emoji_box > h1{
    font-size: 28px;
    font-weight: bold;
    line-height: 38.39px;
    letter-spacing: -0.39px;
    color: #2C2830;
    margin-left:15px ;
    margin-top: 20px;
}

.people_emoji_box > p{
    color: #837D88;
    font-weight: 400;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 15px;
    width: 350px;
}

.findout_main_box{
display: flex;
margin-top: 120px;
margin-left: 165px;
margin-right: 165px;
}

.findout_child_box{
    height: 250px;
    width: 1110px;
    background-color: #2D2641;
}

.findout_child_box > h1{
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.78px;
    color: white;
    margin-left: 81px;
    margin-top: 69px;
}

.findout_child_box  > button{
    width: 160px;
    height: 40px;
    background-color: #2D2641;
    color: white;
    border: solid white 1.5px;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    margin-left: 700px;
}

.findout_child_box >button:hover{
    background-color:  white;
    color: black;
    cursor: pointer;
}

.insure_line_contairen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 180px;
}

.list_main_box{
    display: flex;
}

.company_list_container{
    margin-left: 165px;
    margin-top: 80px;
}

.company_box{
    list-style: none;
}

.company_box> li {
    line-height: 30px;
}

.heading{
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    color: #837D88;
    margin-bottom: 20px;
}
#first_list{
    color: #2D2641;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.2px;
    letter-spacing: 1.5px;
}


